h1 {
  color: purple;
}

.purplefusion {
  color: red;
}

h2 {
  color: pink;
}
 .squeezepink {
   color: green;
 }

p {
  color: #000080;
  background-color: #ff00ff;
}

a {
  color: #DC143C
}

a:link {
 color: red;
}

a:visited {
 color: green;
}

a:active {
 color: #00ffff;
}

a:hover {
 color: yellow;
}

.lemonpie {
  color: #008B8B;
}

.spanstyle {
  color: yellow;
}

#divexample {
  color: blue;
  background-color: cyan;
}
